
@import 'base';
@import 'variables';



header {
    width: auto;
    height: 400px;
    display: flex;
    padding: 20px;
    //background: $color-secondary;
    border: 10px solid $color-secondary;
    border-radius: 0% 0% 0% 200px;

    h1 {
        font-size: 20px;
        font-style: none;
        text-align: center;  
    }

    .menu {
        height: 100px;
        position: absolute;
        top: 200px;
        //display: block;
        //padding: 50px;
        //text-align: end;        
        
        button {
            height: 40px;
            width: 160px;
            padding: 5px;
            font-size: 15px;       
        }
    }
}